<!DOCTYPE html>
<div class="navbar">
  <div class="navbar-case">
    <a class="drip-case" href="/"></a>
      <div class="nav-case">
      <div class="nav">
        <a class="download" href="/">
          Overall Goals
        </a>
      </div>
      <div class="nav">
        <a class="investor" href="/content">
          Content I'll Create
        </a>
      </div>
      <div class="nav">
        <a class="demo" href="/inspiration">
          My Inspiration
        </a>
      </div>
      <div class="nav">
        <a class="testflight" href="/projects">
        Related Projects
      </a>
      </div>
      </div>
  </div>
</div>
