<!DOCTYPE html>
<div class="navbar">
  <div class="navbar-case">
    <a class="drip-case" href="/"></a>
      <div class="nav-case">
      <div class="nav">
        <a class="download" href="https://itunes.apple.com/us/app/drip/id1309335824?ls=1&mt=8" target="_blank">
          Download on iOS
        </a>
      </div>
      <div class="nav">
        <a class="investor" href="/deck_2.pdf" target="_blank">
          Investor Deck
        </a>
      </div>
      <div class="nav">
        <a class="demo" href="/demo">
          Demo Video
        </a>
      </div>
      <div class="nav">
        <a class="testflight" href="/contact">
        Contact Us
      </a>
      </div>
      </div>
  </div>
</div>
