<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
  {{> main}}
	<div class="words">
		<div class="phone"></div>
		<div class="text">
			<h2>Bored? Lonely? Find cool things to do.</h2>
			<h3 class="download">
				<a class="download" href="https://itunes.apple.com/us/app/drip/id1309335824?ls=1&mt=8" target="_blank">
					Download on iOS.
				</a>
			</h3>
<!-- 			<h3>Send your email to ingrid_zippe@brown.edu to be invited to TestFlight.</h3> -->
	    </div>
    </div>
</body>
