<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
    {{> main}}
    <div class="content">
            <!-- <h4 class="slogan">Find cool things to do. <br> Get there with your friends.</h4> -->
            <h6 class="heading-bold" id="start">Initial Inspiration</h6>
            <h4 class="blob">I became obsessed with pop culture about a year and
            half ago. I was sitting on my bed watching a music video by Zara Larsson
            and realizing that, while I'd never cried before in a gallery setting or while
            admiring a designed object, I was free to watch music videos alone in
            the comfort of my own bedroom and relate to them in my own way.</h4>

            <h4 class="blob">I was going through my first really big break up,
            and Zara's experiences told in song helped me with my own pain.
            Here is one of the videos: </h4>

            <div class="center">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/rVO2byp-tWg" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>

            <h4>The content I look forward to creating includes:</h4>
            <ul>
              <li>A musical EP of 5-6 popular songs.</li>
              <li>Two creative photoshoots per week, so
                  <br>roughly 100 photoshoots.</li>
              <li>4 high-quality music videos</li>
            </ul>

            <h4>The ways in which I will share my work include:</h4>
            <ol>
              <li>Sharing images on Instagram.</li>
              <li>Sharing videos on YouTube and Vimeo.</li>
              <li>Sharing music to Spotify.</li>
              <li>Hosting a cumulative party at the completion <br>
                  of my residency which debuts my EP, is a way <br>
                  to thank mentors, collaborators, and friends, <br>
                  and allows the project to be engaged with by <br>
                  other leaders in the creative arts.
            </ol>

            <div class="landscape"></div>
            <div class="mac"></div>

            <h5 class="s">See the app!</h5>

            <h4>Technology</h4>
            <div class="sql"></div>

            <div class="iqram"></div>
            <h3 id='iqram'>Iqram</h3>

            <div class="ense"></div>

            <blockquote class="instagram-media" data-instgrm-captioned data-instgrm-permalink="https://www.instagram.com/p/Bc--X3Cnx45/" data-instgrm-version="8" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:658px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);"><div style="padding:8px;"> <div style=" background:#F8F8F8; line-height:0; margin-top:40px; padding:62.5% 0; text-align:center; width:100%;"> <div style=" background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURczMzPf399fX1+bm5mzY9AMAAADiSURBVDjLvZXbEsMgCES5/P8/t9FuRVCRmU73JWlzosgSIIZURCjo/ad+EQJJB4Hv8BFt+IDpQoCx1wjOSBFhh2XssxEIYn3ulI/6MNReE07UIWJEv8UEOWDS88LY97kqyTliJKKtuYBbruAyVh5wOHiXmpi5we58Ek028czwyuQdLKPG1Bkb4NnM+VeAnfHqn1k4+GPT6uGQcvu2h2OVuIf/gWUFyy8OWEpdyZSa3aVCqpVoVvzZZ2VTnn2wU8qzVjDDetO90GSy9mVLqtgYSy231MxrY6I2gGqjrTY0L8fxCxfCBbhWrsYYAAAAAElFTkSuQmCC); display:block; height:44px; margin:0 auto -44px; position:relative; top:-22px; width:44px;"></div></div> <p style=" margin:8px 0 0 0; padding:0 4px;"> <a href="https://www.instagram.com/p/Bc--X3Cnx45/" style=" color:#000; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none; word-wrap:break-word;" target="_blank">ending 2017 with our new office. God just keeps on BLESSING! Excited for our 2018. Go team! @floralivingapp 🧡</a></p> <p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;">A post shared by <a href="https://www.instagram.com/kehlani/" style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px;" target="_blank"> ARTIVIST 333</a> (@kehlani) on <time style=" font-family:Arial,sans-serif; font-size:14px; line-height:17px;" datetime="2017-12-22T00:15:01+00:00">Dec 21, 2017 at 4:15pm PST</time></p></div></blockquote> <script async defer src="//platform.instagram.com/en_US/embeds.js"></script>

            <!-- <h4 id='elder'>Partners @ Elder Thugs Capital</h4> -->

            <div class="horizons"></div>
            <!-- <h5>iOS Application</h5>
            <iframe width="800" height="800" src="https://www.youtube.com/embed/EHLzGQiQD-Y" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe> -->
            <!-- <h4 class="things">Things That Work</h4>
            <ul>
                <li>regular login/ facebook login</li>
                <li>bottom bar navigation</li>
                <li>central feed loads all events</li>
                <li>personal profile page loads everything you've posted</li>
                <li>Images save in an S3 Bucket on Amazon</li>
                <li>TestFlight</li>
                <li>First Pass at Design</li>
            </ul> -->
            <!-- <h4>Old Tech</h4>
            <div class="mongo"></div>

            <h5>Website / Deck</h5>
            <h4 class="things">In The Next Couple Weeks</h4>
            <ul>
                <li class="coral">Central Feed - Some Kind of Content</li>
                <li class="coral">Upload Content</li>
                <li>Search By Key Word</li>
                <li>Notifications Specific to You</li>
                <li class="coral">Personal Profile</li>
                <li>Follow/Friend Mechanism</li>
            </ul>
            <ul>
                <li class="coral">Regular Login</li>
                <li class="coral">Facebook Login</li>
                <li>Twitter Login</li>
            </ul>
            <ul>
                <li>Import Facebook Friends - See Who's Already In App</li>
                <li>Import Twitter Friends - See Who's Already In App</li>
                <li>Check by Phone Number - See Who's Already in the App</li>
            </ul>
            <ul>
                <li class="coral">TestFlight</li>
                <li>App Store Acceptance</li>
            </ul>

            <h4 class="things">Accelerators I've Applied To</h4>
            <ul>
                <li>Entrepreneur Roundtable Accelerator</li>
                <li>Launch Incubator</li>
                <li>Startup52 Application</li>
                <li>Amplify App</li>
                <li>Rent The Runway </li>
            </ul>

            <h4 class="things">Other Ideas</h4>
            <ul>
                <li class="idea">Post is Anything You're Seeing/ Watching/ Like from the Internet</li>
                <li class="idea">Post Music</li>
                <li class="idea">Reality TV</li>
            </ul> -->
        </div>
	    </div>
    </div>
</body>
