@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900|Open+Sans:400,700,800');

body {
	background-color: #fff;
	color: #000;
}
.navbar {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 100px;
	border-bottom: 2px solid #ededed;
}
.navbar-case {
	width: 1100px;
	margin: 0 auto;
}
.drip {
	display: inline;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 30px;
	font-weight: 300;
	text-align: center;
	color: transparent;
	margin: 20px;
}
.drip-case {
	float: left;
	margin-top: 15px;
	margin-left: 120px;
	height: 80px;
	width: 170px;
	background: url("photos/acr.png") no-repeat;
	background-size: 100%;
	background-position: 90% 10%;
	/*border: 1px solid #000;*/
}
.nav-case {
	float: right;
	padding-right: 30px;
	width: 70%;
	text-align: right;
	padding-top: 42px;
	/*border: 1px solid #000;*/
}
.nav {
	display: inline;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 20px;
	font-weight: 300;
	text-align: center;
	margin: 20px;
}
.nav:hover {
	color: #CB1E2F;
}
.nav:active {
	color: #CB1E2F;
}
.investor {
	text-decoration: none;
	color: #000;
}
.investor:hover {
	/* color: #D4CCC5; */
	color: #B3323F;
}
.testflight {
	text-decoration: none;
	color: #000;
}
.testflight:hover {
	color: #B3323F;
}
.demo {
	text-decoration: none;
	color: #000;
}
.demo:hover {
	color: #B3323F;
}
.demo:active {
	color: #B3323F;
}
.download {
	text-decoration: none;
	color: #000;
  margin-left: 77px;
}
.blurb {
  margin-top: 140px;
  margin-left: 40px;
  line-height: 1.4;
}
.download:hover {
	color: #B3323F;
}
.download:active {
	color: #B3323F;
}
.words {
	padding-top: 100px;
	height: 780px;
	width: 1200px;
	margin: 0 auto;
/*  position: relative;
  top: 37%;
  transform: translateY(-50%);*/
/*    border: 1px solid #000;*/
}
.content {
	padding-top: 100px;
	height: 780px;
	width: 900px;
	margin: 0 auto;
}
#jimin {
	margin-top: 0px;
}
#dropusaline {
  margin-left: 200px;
}
.phone {
	float: left;
	position: relative;
	width: 49%;
	height: 780px;
	background: url("photos/larger_headtilt.jpg") no-repeat;
	background-position: 45% 50%;
	background-size: 90%;
/*	border: 1px solid #000;*/
}
.mongo {
	width: 80%;
	height: 400px;
	background: url("photos/old_tech.jpg") no-repeat;
	background-position: 45% 50%;
	background-size: 100%;
}
.sql {
	width: 80%;
	height: 400px;
	background: url("photos/new_tech_2.jpg") no-repeat;
	background-position: 45% 50%;
	background-size: 100%;
	margin-bottom: 110px;
/*	border: 1px solid #000;*/
}
.landscape {
	width: 95%;
	height: 800px;
	background: url("photos/landscape.png") no-repeat;
	background-position: 45% 50%;
	background-size: 100%;
/*	border: 1px solid #000;*/
}
.mac {
	width: 50%;
	height: 400px;
	background: url("photos/mac.jpg") no-repeat;
	background-position: 45% 50%;
	background-size: 100%;
	margin: 30px;
/*	border: 1px solid #000;*/
}
.iqram {
	width: 37%;
	height: 300px;
	background: url("photos/iqram.png") no-repeat;
	background-position: 45% 50%;
	background-size: 100%;
	margin: 30px;
/*	border: 1px solid #000;*/
}
#iqram {
	padding-bottom: 0px;
}
.ense {
	width: 13%;
	height: 120px;
	background: url("photos/ense.png") no-repeat;
	background-position: 45% 50%;
	background-size: 100%;
	margin: 30px;
	margin-bottom: 100px;
/*	border: 1px solid #000;*/
}
.horizons {
	width: 60%;
	height: 600px;
	background: url("photos/horizons.png") no-repeat;
	background-position: 45% 50%;
	background-size: 100%;
	margin-top: 160px;
	margin-bottom: 300px;
/*	border: 1px solid #000;*/
}
.text {
/*	border: 1px solid #000;*/
	position: relative;
	float: left;
    height: 780px;
	width: 49%;
}
h1 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 80px;
	text-align: center;
}
h2 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 50px;
	font-weight: 300;
	margin-top: 220px;
	text-align: center;
}
h4 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 43px;
	font-weight: 300;
	margin-top: 100px;
	text-align: left;
}
h3 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 30px;
	font-weight: 300;
	margin-top: 40px;
	margin-bottom: 80px;
	text-align: left;
	margin-left: 170px;
}
h5 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 100px;
  font-weight: 400;
}
.s {
    font-size: 70px;
    padding-top: 20px;
		padding-bottom: 100px;
}
.things {
    margin-left: 30px;
    font-size: 60px;
}
.slogan {
    font-size: 60px;
}
.coral {
		background-color: #ffe6ff;
}
.idea {
    font-size: 60px;
}
.goal {
		font-size: 40px;
		margin-bottom: 160px;
}
.blob {
		font-size: 35px;
		margin-bottom: 0px;
		margin-top: 40px;
}
.heading-bold {
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-size: 27px;
		font-weight: bold;
		margin-bottom: 0px;
}
.center {
		text-align: center;
		margin-top: 40px;
}
#start {
		margin-top: 100px;
}
#seventy {
		margin-top: 70px;
}
#marginbottom {
		margin-bottom: 180px;
}
.threewide {
		width: 100%;
		height: 300px;
		/* border-width: 1;
		border-color: #000;
		border-style: solid; */
		margin-top: 70px;
}
.onephoto {
		float: left;
		width: 31.9%;
		height: 298px;
		/* border-width: 1;
		border-color: #000;
		border-style: solid; */
		margin-right: 2.1%;
}
.twophoto {
		float: left;
		width: 31.9%;
		height: 298px;
		/* border-width: 1;
		border-color: #000;
		border-style: solid; */
}
#earbuds_one {
	background: url("photos/larger_headtilt.jpg") no-repeat;
	background-position: 45% 50%;
	background-size: 100%;
}
#earbuds_two {
	background: url("photos/earbuds_1.jpg") no-repeat;
	background-position: 45% 55%;
	background-size: 120%;
}
#earbuds_three {
	background: url("photos/earbuds_2.jpg") no-repeat;
	background-position: 45% 50%;
	background-size: 120%;
}
#schoolgirl_one {
	background: url("photos/schoolgirl_1.jpg") no-repeat;
	background-position: 45% 50%;
	background-size: 130%;
}
#schoolgirl_two {
	background: url("photos/schoolgirl_2.jpg") no-repeat;
	background-position: 45% 55%;
	background-size: 160%;
}
#schoolgirl_three {
	background: url("photos/schoolgirl_3.jpg") no-repeat;
	background-position: 45% 50%;
	background-size: 100%;
}

li {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 35px;
	font-weight: 300;
	margin-top: 10px;
	line-height: 1.3;
}
ul {
	margin-top: 70px;
    margin-left: 100px;
}
ol {
	margin-left: 110px;
}
#left-i {
	left: 0;
	position: absolute;
}
#right-i {
	right: 0;
	position: absolute;
}
.is {
	margin-top: -120px;
}

.white-line {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #fff;
}
.photos-container {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
/*	border: 1px solid #fff;*/
	margin-top: 80px;
}
.pic {
	width: 46%;
	height: 330px;
	display: inline-block;
	margin: 10px;
	box-shadow: 2px 2px 6px rgba(250, 250, 250, 0.7);
}

.demoyea {
  margin-bottom: 200px;
}
